<!doctype html>
<html>
    <head>
        <title>NAWAL DEVELOPERS & BUILDERS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- fonts -->
        <link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
        <!-- /fonts -->
        <!-- css -->
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/style.css" rel="stylesheet" type='text/css' media="all" />
        <!-- /css -->
    </head>
    <body>
        <img src="images/logo.png" class="img-responsive" style="float:left"><h1 class="w3layouts"> Nawal Developers & builders</h1>    
        <div class="content-w3ls">
            <div class="content1-agile">
                <div class="info-w3l">
                    <div class="img-hover">
                        <img class="img-responsive img-rounded" src="images/room.jpg">
                    </div>
                </div>	
                <p align='center' style="color: #ffff99">Planning a TRIP? We'll provide you best of Hotels<br><br>
                    <button class="btn btn-danger">CLICK HERE TO KNOW MORE...</button><br><br>
                </p>
            </div>
            <div class="content1-agile">
                <div class="info-w3l">
                    <div class="img-hover">
                        <img class="img-responsive img-rounded" src="images/cons.jpg">
                    </div>
                </div>
                <p align='center' style="color: #ffff99">Buying a HOME? We'll help you save thousand<br><br>
                    <button class="btn btn-danger">CLICK HERE TO KNOW MORE...</button><br><br>
                </p>
            </div>
            <div class="content1-agile" style="width:100%">
                <div class="info-w3l">
                    <p style="color:#fff;text-align: center">Nawal Developers & Builders is committed to provide better living option to the people of Rudrapur,<br> Promoted by Shri Pawan Agrawal....</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <p class="copyright-agileits">© 2017 Nawal Developers & builders. All Rights Reserved | Design by <a href="https://teamfreelancers.com/" target="_blank">teamfreelancers</a></p>
    </body>
</html>